@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>StoreAll Assessment Web App</h1>
</div>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <h2>Web application built as a candidate developer assessment. Click the links above to view Users, Permissions and UserPermissions.</h2>
    </div>
    <div class="col-md-1">
    </div>
</div>
