@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>StoreAll Assessment Web App</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Filler</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a diam sem. Nam a urna sed sapien ornare viverra. Nullam eu mauris vel nunc volutpat ultricies. Vestibulum laoreet ante in velit venenatis, non dignissim ante pretium. Donec euismod est non elit faucibus, at aliquam ipsum venenatis. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>More filler</h2>
        <p>Duis dui ex, semper sed blandit quis, efficitur at felis. Sed in dictum mauris, in elementum lectus. Mauris at lobortis velit. Nam facilisis tortor tincidunt nibh eleifend commodo. Vivamus ornare pulvinar purus, quis tincidunt lorem ultrices ac.</p>
        <p><a class="btn btn-default" href="">Button &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Yet more filler</h2>
        <p>Duis laoreet finibus elit, a mattis nunc tincidunt ut. Praesent a quam imperdiet, dignissim erat sit amet, blandit nulla.</p>
        <p><a class="btn btn-default" href="">Button &raquo;</a></p>
    </div>
</div>
